.fillWindow {
  height: 100%;
  align-items: center;
}

.heroInfo {
  text-align: center;
}

.centeredBtn {
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
}

.spotifyLoginBtn {
  font-size: 20px;
  border-radius: 500px;
  padding: 20px 30px 20px;
  color: #FFF;
  background-color: #1DB954;
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;
}

.asterisk {
  text-align: center;
  font-size: 0.5em;
  margin-top: 20%;
}
