$break-large: 1275px;

.bg-image {
  min-height: 250px;
}
.nowPlayingDetails {
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}

.nowPlayingContent {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  text-align: center;
}

.nowPlayingControls {
  display: flex;
  align-items: center;
  padding-bottom: 4%;
}
