.media {
  width: 100%;
  margin-bottom: 10%;
}

.heightFix {
  max-height: 300px;
  text-align: center;
}

.card {
  display: flex;
  margin-bottom: 10px;
}

.card.playlist {
  flex-direction: column;
}

.card.selected {
  background-color: #007AFF;
}

.details {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.content {
  flex: 1 0 auto;
};
