.media {
  width: 100%;
}

.card {
  display: flex;
  margin-bottom: 10px;
}

.selected {
  background-color: #007AFF;
}

.details {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
};
