.modal {
  width: 200px;
}

.handleSwitchButton {
  margin: auto;
  min-width: 120px;
}

.serviceDialogContainer {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  margin: auto;
  width: 300px;
  padding-bottom: 15px;
}