@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

.details {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  text-align: left;
}

.cover {
  width: 64px;
}

