$break-large: 1000px;

.box {
  display: flex;
  @media screen and (max-width: $break-large - 1) {
    flex-direction: column;
  }
  @media screen and (min-width: $break-large) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  @media screen and (max-width: $break-large - 1) {
    width: 100%;
  }
  @media screen and (min-width: $break-large) {
    width: 70%;
  }
}

.cover {
  display: flex;
  @media screen and (max-width: $break-large - 1) {
    width: 100%;
  }
  @media screen and (min-width: $break-large) {
    width: 100px;
  }
  align-self: flex-start;
}
